Welcome {{author_username}}
<div>
    <a href="/newpost">
    <button class="btn-no-style">
        Create a New Post
    </button>
    </a>
</div>
<div>
<h2>Your Current Posts</h2>
{{> Post-details}}
</div>

