<section class="container">
  <h3 class="gallery-name">{{Post.title}}</h3>
  <h4>{{post.author_username}} Posted on: {{Post.date_created}}</h4>
  <section class="flex-row justify-center">
    {{post.body}}
  </section>
  <section class="flex-row justify-center">
    <h3>Comments:</h4>
    {{#each post.comment as |comment|}}
    {{> comment-details}}
    {{/each}}
    <h3>Add comment:</h3>
    <form>
      <h4>Comment Body:</h4>
      <input type="text" id="comment-body" />
      <button type="submit"></button>
    </form>
  </section>
</section>
